@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
}
@theme {
  /* Colores base */
  --color-background: oklch(0.2 0.02 250);
  --color-foreground: oklch(0.98 0.01 240);
  
  --color-card: oklch(0.25 0.05 245);
  --color-card-foreground: oklch(0.98 0.01 240);
  
  --color-primary: oklch(0.7 0.15 200);
  --color-primary-foreground: oklch(0.2 0.02 250);
  
  --color-secondary: oklch(0.65 0.2 310);
  --color-secondary-foreground: oklch(0.98 0.01 240);
  
  --color-muted: oklch(0.3 0.02 240);
  --color-muted-foreground: oklch(0.65 0.01 240);
  
  --color-accent: oklch(0.65 0.2 310);
  --color-accent-foreground: oklch(0.98 0.01 240);
  
  --color-destructive: oklch(0.6 0.2 25);
  --color-destructive-foreground: oklch(0.98 0.01 240);
  
  --color-border: oklch(0.32 0.02 240);
  --color-input: oklch(0.32 0.02 240);
  --color-ring: oklch(0.7 0.15 200);
  
  /* Radius */
  --radius: 0.75rem;
}